<!-- <template> -->
<!--   <div> -->
<!--     <NuxtWelcome /> -->
<!--   </div> -->
<!-- </template> -->

<template>
  <v-app id="inspire">
    <v-system-bar>
      <v-spacer></v-spacer>
    </v-system-bar>


    <v-app-bar flat>
      <v-container class="mx-auto d-flex align-center justify-center">
        <v-btn icon>
          <v-avatar
              class="me-4 "
             color="grey-darken-1"
              size="32"
          ></v-avatar>
          <v-subtitle-text>
              Anaquin
          </v-subtitle-text>
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          text="Shop"
          variant="text"
        ></v-btn>

        <v-btn
          text="Career"
          variant="text"
        ></v-btn>

        <v-btn
          text="Sponsor"
          variant="text"
        ></v-btn>

        <v-btn
          text="About"
          variant="text"
        ></v-btn>

        <v-responsive max-width="200">
          <v-text-field
            density="compact"
            flat
            hide-details
            label="Search the store"
            rounded="lg"
            single-line
            variant="solo-filled"
            prepend-inner-icon="mdi-magnify"
          ></v-text-field>
        </v-responsive>

        <v-btn
            class="ma-2"
            icon="mdi-shopping-outline"
        ></v-btn>

        <v-btn
            class="ma-2"
            icon="mdi-account-circle-outline"
        ></v-btn>
      </v-container>
    </v-app-bar>


    <v-carousel
        height="1200"
        :show-arrows="false"
        >
      <v-carousel-item
        src="https://i.pinimg.com/originals/12/b2/3a/12b23a7752e8a7a4464c1ff5e596237f.gif"
        cover
      >
        <div class="d-flex fill-height align-center pl-12">
            <v-row>
                <v-col>
                    <div class="text-h2 text-black bg-white text-h1 font-weight-medium">
                        Pine The Beauty You<br>From NANO
                    </div>
                    <div class="text-h5 bg-white">
                        Description
                    </div>
                </v-col>
                <!-- <v-img -->
                <!--     src="../assets/images/people1.png" -->
                <!--     class="bg-grey lighten-2" -->
                <!-- > -->
                <!-- </v-img> -->
                <!-- <v-col> -->
                <!-- </v-col> -->
            </v-row>
        </div>
      </v-carousel-item>
    </v-carousel>

    <div style="height: 50px;">
    </div>

    <v-container>
        <v-row>
            <v-col>
                <p class="text-md-center text-h4 pa-8 pt-20 font-weight-bold">How can we help you?</p>
                <v-card
                    height="400"
                    class="rounded-xl pa-7 mb-12 bg-amber-accent-3"
                    >
                    <v-col>
                        <v-row>
                            <v-col>
                            <p class="text-white">Anaquin Products</p>
                            <p class="text-white text-h5 font-weight-bold">The Green Roads<br>Winning CBD</p>
                            <p class="text-white">Description</p>
                            </v-col>
                        <v-spacer />
                        <v-img
                          :width="100"
                          src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
                        ></v-img>
                        </v-row>
                    </v-col>
                </v-card>
            </v-col>
        </v-row>
    </v-container>

    <div style="height: 50px;">
    </div>



    <!-- <v-img :src="require('/Users/trackerhero/web/anaquin1/assets/images/people1.png')" -->
    <!--   class="my-3" -->
    <!--   contain -->
    <!--   height="200" -->
    <!-- > -->
    <!-- </v-img> -->

    <!-- <v-img width="100px" height="100px" :src="require('./../assets/images/people1.png')" /> -->
    <!-- <v-img -->
    <!--   class="mx-2" -->
    <!--   :src="require('@/assets/images/people1.png')" -->
    <!--   max-height="60" -->
    <!--   max-width="60" -->
    <!--   contain -->
    <!-- ></v-img> -->
    <!-- <v-img  -->
    <!--     :src="require('../assets/images/people1.png')" class="my-3" contain height="200" /> -->


    <v-navigation-drawer
      v-model="drawer"
      temporary
    >
      <!--  -->
    </v-navigation-drawer>

    <v-main class="bg-grey-lighten-2">
      <v-container fluid>
        <v-row>
           <v-col cols="12" md="2">
               <v-card class="py-2 px-3">
                    <v-text-field
                        placeholder="Search Product..."
                        v-model="name"
                        >
                    </v-text-field>

                    <v-radio-group v-model="sortBy">
                    </v-radio-group>

                    <v-radio-group v-model="order">
                      <template v-slot:label>
                          <h3>Sort By:</h3>
                      </template>

                      <v-radio value="name">
                        <template v-slot:label>
                          <div>By
                              <strong>Name</strong>
                          </div>
                        </template>
                      </v-radio>

                      <v-radio value="price">
                        <template v-slot:label>
                          <div>By
                              <strong>Price</strong>
                          </div>
                        </template>
                      </v-radio>
                    </v-radio-group>

                    <v-radio-group v-model="order">
                      <template v-slot:label>
                          <h3>Sorting Order:</h3>
                      </template>

                      <v-radio value="ascending">
                        <template v-slot:label>
                          <div>By
                              <strong>Ascending</strong>
                          </div>
                        </template>
                      </v-radio>

                      <v-radio value="deasending">
                        <template v-slot:label>
                          <div>By
                              <strong>Deasending</strong>
                          </div>
                        </template>
                      </v-radio>
                    </v-radio-group>
               </v-card>
           </v-col>

            <v-col cols="12" md="10">
                <v-row>
                    <v-col 
                        v-for="(product, i) in filteredProducts" 
                        :key="i" 
                        cols="12" 
                        md="4" 
                        sm="6" 
                        lg="3"
                    >
                      <v-card class="mx-auto">
                        <v-img
                          :src="product.image"
                          height="200px"
                          cover
                        ></v-img>

                        <v-card-title class="text-capitalize">
                            {{ product.name }}
                        </v-card-title>

                        <v-card-subtitle>
                            <v-card-title>
                               $ {{ product.price}}
                            </v-card-title>
                        </v-card-subtitle>

                        <v-card-actions>
                          <v-btn
                            color="orange-lighten-2"
                            variant="text"
                          >
                            Read More   
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-col>

                </v-row>
            </v-col>

        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup>
    import VueSlickCarousel from 'vue-slick-carousel'
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
    import data from './../data';

    const sortBy = ref('');
    const order = ref('ascending');
    const products = ref(data);
    const name = ref('');

    const filteredProducts = computed(() => {
      if (name.value) { 
        return [...products.value].filter((item) => {
            return name.value
                .toLocaleLowerCase()
                .split(" ")
                .every((v) => item.name.toLocaleLowerCase().includes(v));
        });

      } else {
        return products.value;
      }
    });


    const sortProducts = () => {
        if(order.value == 'deasending') {
            products.sort(dynamicSort("-" + sortBy.value))

        }else{
            products.sort(dynamicSort(sortBy.value));

        }
    };

    const dynamicSort = (property) => {
        let sortOrder = 1;
        if (property[0] === "."){
            sortOrder = -1;
            property = property.substr(1);
        }
        return (a,b) => {
            var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
            return result * sortOrder;
        }
    };


    watch(sortBy, () => {
        console.log('Sort Chaing');
    });   
    watch(order, () => {
        console.log('Sort Chaing');
    });




</script>

<script>
  // export default {
  //   name: 'index',
  //   components: { VueSlickCarousel },

    // data: () => ({ 
    //     drawer: null,
    //     radios: 'Duckduckgo',
    // }),

  // }
</script>
